body {
	color: #c3c8cd;
	background-color: #2c3e50;
	font-family: Consolas;
	font-size: 14px;
	height: 100%;
	line-height: 20px;
	margin: 0 0 15px 0;
	padding: 20px;
	scrollbar-arrow-color: #444444;
	scrollbar-base-color: white;
	scrollbar-face-color: #DDD;
	scrollbar-highlight-color: white;
	scrollbar-shadow-color: white;
	scrollbar-track-color: white;
	background-image: url(https://git.herzogdemeuron.com/m.dahmen/jarvis/-/raw/master/svg/jarvis-dark.svg?inline=false);
	background-repeat: no-repeat;
	background-size: 120px 80px;
	background-position: right 0 bottom 15px;
	background-attachment: fixed;

}

img[src*="jarvis-dark.svg"] {
	display: block;
	width: 450px;
	margin: 30px auto;
	padding-bottom: 30px;
}

hr {
	border: none;
	border-top: 1px solid #3d5268;
	margin: 40px 0; 
}

em {
	color: #2c3e50;
	font-weight: bold;
	background-color: #c3c8cd;
	border-radius: 3px;
	padding: 3px 6px;
}

table {
	border-collapse: collapse;
	width: 100%
}

table, th, td {
	border-bottom: 1px solid #aaa;
	padding: 5px;
}

th {
	background-color: #233749;
	color: white;
}

tr:nth-child(odd) {
	background-color: #f2f2f2
}

/* tr:last-child {
	background: #233749;
} */

.entry {
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	word-wrap: break-word;
}

.errorentry {
	position: relative;
	background: #bd6049;
	border-radius: 5px;
	border: 2px solid ;
	border-top-width: 26px;
	color: #f7dbd4;
	margin-top: 10px;
	padding: 15px;
}

.errorentry:after {
	content: 'Error';
	position: absolute;
	top: -23px;
	left: 15px;
	color: #bd6049;
}

.logdefault {
	border-radius: 0;
	/* margin: 10px 0 10px 0; */
	padding: 6px;
}

.logsuccess {
	background: #f7f9f2;
	color: #618401;
}

.logerror {
	background: #f9f2f4;
	color: #c7254e;
}

.logwarning {
	background: #F7F3F2;
	color: #E17700;
}

.logcritical {
	background: #c7254e;
	color: white;
}

.logdeprecate {
	background: #ffd900;
	color: #974901;
}

.coreupdatewarn {
	background: #F7F3F2;
	color: #E17700;
	padding: 20px;
	margin: 10px 0px 10px 0px;
	border: 1px solid #C64325; 
}

.inlinewait {
	border-radius: 0;
	border: 1px solid #2c3e50;
	color: #2c3e50;
	margin: 6px;
	padding: 6px;
	padding-bottom: 8px;
	word-wrap: break-word;
}

.emoji {
	/*filter: gray;*/
	/*filter: alpha(opacity=50);*/
	height: 14pt;
	margin: -4px 0 0 0;
	vertical-align: middle;
}

.progressindicator {
	background: #2c3e50;
	border: 0;
	top: 0;
	font-size: 1pt;
	height: 4px;
	position: fixed;
	width: 100%;
}

.progressbar {
	background: #f39c12;
	border: 0;
	font-size: 1pt;
	height: 100%;
	width: 1%;
}

.elementlink {
	background-color: #2c3e50;
	/*border: 1px solid #2c3e50;*/
	border-radius: 0;
	color: #ffffff;
	display: inline-block;
	font-size: 8pt;
	margin: 2px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.elementlink:visited {
	background-color: #f39c12;
}

.code {
	background: #faf8f0;
	border-radius: 0;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 140%;
	padding-bottom: 20px;
	padding-left: 10px;
}

.nextpage {
	page-break-after: always;
}

.unittest {
	padding: 3px;
}

.unitteststart {
	background: #e8e8e8;
}

.unittestokay {
	border-bottom: 1px solid gray;
}

.unittestfail {
	border-bottom: 1px solid gray;
}

.unittesterror {
	border-bottom: 1px solid gray;
}
